* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    display: block;
}

body{
    padding-top: 70px;
}

.container{
    max-width: 100rem;
    margin-inline-end: auto;
    padding-inline: 2rem;
}

.card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    cursor: pointer;
    gap: 1rem;
}

.spot-card{
    aspect-ratio: 1 / 1.5;
}

.spot-preview-image{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: .25rem;
}

.spot-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    align-self: end;
    margin: .5rem .5rem 2rem;
    padding: .5rem;
}

.spot-info  > * {
    padding: .5rem;
}

.card-price{
    color: grey;
}

.card-rating{
    display: flex;
    justify-content: end;
}
