.hidden {
    display: none
}


.dropdown{
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
    border-radius: 50px;
    border: 2px solid lightgray;
    height: 2.5rem;
    width: 5rem;
}


.dropdown i {
    font-size: 20px;
    color: grey;
}

.dropdown-menu{
    position: absolute;
    background-color: white;
    right: 50;
    top: 50;
    padding: .75rem;
    border-radius: .25rem;
    width: 10rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.dropdown-menu li {
    list-style: none;
    padding: 5px;
    font-size: 18px;
}

.logout-button{
    width: 100%;
    background-color: #FF385c;
    color: white;
    border-radius: 50px;
}

.manage-spots{
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}
