.login-form{
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    height: 20rem;
}

.login-inputs > *{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.login-buttons{
    display: flex;
    width: 100%;
    justify-content: center;
}

.log-in{
    border: 2px solid grey;
}

.demo-user{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 10px;
    text-decoration: underline;
    border-radius: 0;
    appearance: none;
    color: teal;
}
